<div class="indiv-product">

	{% if product.compare_at_price_max > product.price %}
		<div class="sale-badge">{{ 'products.general.sale' | t }}</div>
	{% endif %}

	<a href="{{ product.url | within: collection }}">
		<div class="indiv-product-wrap">
			<img src="{{ product.images[1] | img_url: 'original' }}" alt="">
			<img src="{{ product.featured_image | product_img_url: 'original' }}'" data-adaptive-background='1'>
		</div>
	</a>
</div>

<div class="hp-title custom-font">
<a href="{{ product.url | within: collection }}">
{{product.title}}<br />
	<span class="money-styling">
  {% if product.price_varies %}
    <small>{{ 'products.general.from' | t }}</small> {{ product.price_min | money }}
  {% else %}
    {{ product.price_min | money }}
  {% endif %}
</span>
</a>
</div>