<div class="indiv-product">	
	<a href="{{ product.url | within: collection }}">
		{% if product.compare_at_price_max > product.price %}
			<div class="sale-badge">{{ 'products.general.sale' | t }}</div>
		{% endif %}

		<div class="product-image featured" style="background:url({{ product.featured_image | product_img_url: 'original' }}) center center no-repeat; background-size:cover;"></div>
		<div class="product-image rollover" style="background:url({{ product.images[1] | img_url: 'original' }}) center center no-repeat; background-size:cover;"></div>

		<div class="hp-title custom-font">
			<span class="product-title">{{product.title}}</span><span class="product-price"><i>
			  {% if product.price_varies %}
			    <small>{{ 'products.general.from' | t }}</small> {{ product.price_min | money }}
			  {% else %}
			    {{ product.price_min | money }}
			  {% endif %}</i>
			</span>
			<div class="clear"></div>
		</div>
	</a>
</div>