<div id="oi_banner">
	{% if settings.show_homepage_desktop_video %}
		<!-- desktop video -->
		<video id="oi_desktop-video" playsinline loop="true" muted autoplay="true" {% if settings.carousel-video-thumbnail.jpg != '' %} poster="https:{{ 'carousel-video-thumbnail.jpg' | asset_url }}" {% endif %} id="oi_hero_video">
			{% if settings.carousel_video_hd_streaming_1 != empty %}
				<source src="{{ settings.carousel_video_hd_streaming_1 }}" type="video/mp4">
			{% endif %}
			{% if settings.carousel_video_hd_streaming_2 != empty %}
				<source src="{{ settings.carousel_video_hd_streaming_2 }}" type="video/mp4">
			{% endif %}
			{% if settings.carousel_video_sd_streaming != empty %}
				<source src="{{ settings.carousel_video_sd_streaming}}" type="video/mp4">
			{% endif %}
			{% if settings.carousel_video_low_def_streaming != empty %}
				<source src="{{ settings.carousel_video_low_def_streaming }}" type="video/mp4">
			{% endif %}
		</video><!-- end desktop video -->
	{% else %}
		<a href="{{ settings.desktop-homepage-banner-link }}"><div id="oi_homepage-banner--desktop" style="background:url(https:{{ 'homepage-banner-image-desktop.jpg' | asset_img_url: 'master' }})"></div></a>
	{% endif %}
	{% if settings.show_homepage_mobile_video %}
		<!-- mobile video -->
		<video id="oi_mobile-video" playsinline loop="true" muted autoplay="true" {% if settings.carousel-video-thumbnail.jpg != '' %} poster="https:{{ 'carousel-video-mobile-thumbnail.jpg' | asset_url }}" {% endif %} id="oi_hero_video">
			{% if settings.carousel_video_mobile_hd_streaming_1 != empty %}
				<source src="{{ settings.carousel_video_mobile_hd_streaming_1 }}" type="video/mp4">
			{% endif %}
			{% if settings.carousel_video_mobile_hd_streaming_2 != empty %}
				<source src="{{ settings.carousel_video_mobile_hd_streaming_2 }}" type="video/mp4">
			{% endif %}
			{% if settings.carousel_video_mobile_sd_streaming != empty %}
				<source src="{{ settings.carousel_video_mobile_sd_streaming}}" type="video/mp4">
			{% endif %}
			{% if settings.carousel_video_mobile_low_def_streaming != empty %}
				<source src="{{ settings.carousel_video_mobile_low_def_streaming }}" type="video/mp4">
			{% endif %}
		</video><!-- end mobile video -->
		{% if settings.carousel_video_hd_streaming_1 != empty %}
		<div id="oi_video-controls">
			<div id="oi_controls-wrapper">
				<button id="oi_play"><i class="fal fa-play"></i></button>
				<button id="oi_pause"><i class="fal fa-pause"></i></button>
				<button id="oi_volume-on"><i class="fal fa-volume-up"></i></button>
				<button id="oi_volume-off"><i class="fal fa-volume-mute"></i></button>
			</div>
		</div>
		{% endif %}
	{% else %}
		<a href="{{ settings.mobile-homepage-banner-link }}"><div id="oi_homepage-banner--mobile" style="background:url(https:{{ 'homepage-banner-image-mobile.jpg' | asset_url }})"></div></a>
		{%comment%}{% if settings.show_slider %}
		<div class="wide-container" id="homepage-slider">
			<div id="homepage-slider-wrap">
				<div class="homepage-slider-mask">
					<div class="flexslider">
						<ul class="slides">
					        {% if settings.show_carousel_item_1 %}
					        <li>
					          {% if settings.carousel_item_1_link != empty %}
					            {{ 'carousel-item-1.jpg' | asset_url | img_tag: settings.carousel_item_1_alt_text | link_to: settings.carousel_item_1_link }}
					          {% else %}
					            {{ 'carousel-item-1.jpg' | asset_url | img_tag: settings.carousel_item_1_alt_text }}
					          {%endif%}
								{% if settings.carousel_item_1_caption != empty %}
									{% if settings.carousel_item_1_link != empty %}
										<div class="slider-caption custom-font"><h4><a href="{{ settings.carousel_item_1_link }}">{{ settings.carousel_item_1_caption }}</a></h4></div>
									{% else %}
										<div class="slider-caption custom-font"><h4>{{ settings.carousel_item_1_caption }}</h4></div>
									{%endif%}
								{%endif%}
					        </li>
					        {% endif %}

					        {% if settings.show_carousel_item_2 %}


					        <li>
					          {% if settings.carousel_item_2_link != empty %}
					          {{ 'carousel-item-2.jpg' | asset_url | img_tag | link_to: settings.carousel_item_2_link }}
					          {% else %}
					          {{ 'carousel-item-2.jpg' | asset_url | img_tag }}
					          {%endif%}


								{% if settings.carousel_item_2_caption != empty %}
									{% if settings.carousel_item_2_link != empty %}
										<div class="slider-caption custom-font"><h4><a href="{{ settings.carousel_item_2_link }}">{{ settings.carousel_item_2_caption }}</a></h4></div>
									{% else %}
										<div class="slider-caption custom-font"><h4>{{ settings.carousel_item_2_caption }}</h4></div>
									{%endif%}
								{%endif%}
					        </li>
					        {% endif %}

							{% if settings.show_carousel_item_3 %}
					        	<li>
								{% if settings.carousel_item_3_link != empty %}
									{{ 'carousel-item-3.jpg' | asset_url | img_tag | link_to: settings.carousel_item_3_link }}
								{% else %}
									{{ 'carousel-item-3.jpg' | asset_url | img_tag }}
					        	{%endif%}

								{% if settings.carousel_item_3_caption != empty %}
									{% if settings.carousel_item_3_link != empty %}
										<div class="slider-caption custom-font"><h4><a href="{{ settings.carousel_item_3_link }}">{{ settings.carousel_item_3_caption }}</a></h4></div>
									{% else %}
										<div class="slider-caption custom-font"><h4>{{ settings.carousel_item_3_caption }}</h4></div>
									{%endif%}
								{%endif%}
							</li>
					        {% endif %}

					        {% if settings.show_carousel_item_4 %}
					        <li>
					          {% if settings.carousel_item_4_link != empty %}
					          {{ 'carousel-item-4.jpg' | asset_url | img_tag | link_to: settings.carousel_item_4_link }}
					          {% else %}
					            {{ 'carousel-item-4.jpg' | asset_url | img_tag }}
					          {%endif%}
								{% if settings.carousel_item_4_caption != empty %}
									{% if settings.carousel_item_4_link != empty %}
										<div class="slider-caption custom-font"><h4><a href="{{ settings.carousel_item_4_link }}">{{ settings.carousel_item_4_caption }}</a></h4></div>
									{% else %}
										<div class="slider-caption custom-font"><h4>{{ settings.carousel_item_4_caption }}</h4></div>
									{%endif%}
								{%endif%}
					        </li>
					        {% endif %}

					        {% if settings.show_carousel_item_5 %}
					        <li>
					          {% if settings.carousel_item_5_link != empty %}
					          {{ 'carousel-item-5.jpg' | asset_url | img_tag | link_to: settings.carousel_item_5_link }}
					          {% else %}
					            {{ 'carousel-item-5.jpg' | asset_url | img_tag }}
					          {%endif%}
								{% if settings.carousel_item_5_caption != empty %}
									{% if settings.carousel_item_5_link != empty %}
										<div class="slider-caption custom-font"><h4><a href="{{ settings.carousel_item_5_link }}">{{ settings.carousel_item_5_caption }}</a></h4></div>
									{% else %}
										<div class="slider-caption custom-font"><h4>{{ settings.carousel_item_5_caption }}</h4></div>
									{%endif%}
								{%endif%}
					        </li>
					        {% endif %}

					        {% if settings.show_carousel_item_6 %}
					        <li>
					          {% if settings.carousel_item_6_link != empty %}
					          {{ 'carousel-item-6.jpg' | asset_url | img_tag | link_to: settings.carousel_item_6_link }}
					          {% else %}
					            {{ 'carousel-item-6.jpg' | asset_url | img_tag }}
					          {%endif%}
							{% if settings.carousel_item_6_caption != empty %}
								{% if settings.carousel_item_6_link != empty %}
									<div class="slider-caption custom-font"><h4><a href="{{ settings.carousel_item_6_link }}">{{ settings.carousel_item_6_caption }}</a></h4></div>
								{% else %}
									<div class="slider-caption custom-font"><h4>{{ settings.carousel_item_6_caption }}</h4></div>
								{%endif%}
							{%endif%}
					        </li>
					        {% endif %}

				      </ul>
			      </div>
		      </div>
		    </div>
		  </div>
		{% endif %} <!-- end if statement re: show slider -->{%endcomment%}
	{% endif %} <!-- end if homepage media if statement -->
</div><!-- banner -->

<div id="homepage-main-wrap">
	<a id="oi_shop-all" href="https://orseundiris.com/collections/shop">Shop All</a>
	<div id="featured">
		<ul id="horizontal-scroll" class="featured-products product-grid">
		{% for product in collections[settings.which-collection].products limit:8 %}
			<li class="{% cycle ' alpha', '', '', ' omega' %}">
				{% include 'product-listing' %}
	   		</li>
		{% endfor %}
		</ul>
		<button id="scroll-left" class="hidden">
			{{ 'left-arrow.png' | asset_url | img_tag: 'Scroll Left' }}
		</button>
		<button id="scroll-right">
			{{ 'right-arrow.png' | asset_url | img_tag: 'Scroll Right' }}
		</button>
	</div>
</div>

{% if settings.show-instagram-homepage %}

	<div class="instagram-wrapper">

		<div class="title-bar custom-font">		
			{{ 'as-seen-on-social.svg' | asset_url | img_tag: 'As seen on social' }}
		</div>

		<div class="instashop-gallery" data-gallery="default"></div>

		<a href="https://www.instagram.com/orseund_iris/" target="_blank" id="oi_instagram-cta">@orseund_iris</a>

	</div>

{% endif %}
