<a id="oi_fixed-insta-logo" href="https://www.instagram.com/orseund_iris/" target="_blank">@orseund_iris</a>

<article id="{{product.handle}}" class="product"><!-- used to have container class -->

<!-- <div class="row">
	<div class="col-md-12"> -->

	{% include 'breadcrumb' %}

<!-- 	</div>
</div> -->

<!-- <div class="row"> -->
	<div class="product-content">

	<!-- <div class="col-md-8 col-sm-8 product-images"> -->
	
	<div class="product-images">

	{% if product.compare_at_price_max > product.price %}
		<div class="sale-badge">{{ 'products.general.sale' | t }}</div>
	{% endif %}

		<!-- The first image pulled from the product is a large image (480x480), subsequent images are "compact" which is 160x160 -->
		<div id="product_images">
			{% if product.images.size > 1 %}
				<ul id="product-thumbnails">
				{% for image in product.images %}
					<li> <!-- class="col-md-3 col-sm-4{% cycle ' alpha clearcolumn', '', '', ' omega' %}" -->
						<a href="#{{ image.id }}" title="{{ image.alt | escape }}" class="image-swap">
							<img src="{{ image | product_img_url: 'master'}}" alt="{{ image.alt | escape }}" />
						</a>
					</li>
				{% endfor %}
				</ul>
			{% endif %}

			{% for image in product.images %}
				{% if forloop.first %}
				<!--
					<a href="{{ image | product_img_url: 'original' }}" title="{{ image.alt | escape }}" id="zoom1" class="cloud-zoom" rel="position: 'inside', showTitle: false">
						<img src="{{ image | product_img_url: 'original'}}" alt="{{ image.alt | escape }}" class="product-main-image"/>
					</a>
				-->

					{% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
					<div class="featured-image-div">
						{% comment %}<img src="{{ featured_image | img_url: 'master' }}" alt="{{ featured_image.alt | escape }}" class="product-main-image" />{% endcomment %}
						{% for image in product.images %}
							<img class="oi_main-image" id="{{ image.id }}" src="{{ image | product_img_url: 'master'}}" alt="{{ image.alt | escape }}" />	
						{% endfor %}
					</div>

				{% endif %}
			{% endfor %}
			<div class="clear"></div>
		</div>
		{% comment %}

		<div id="mobile-product-images" class="visible-xs">

		<ul id="product-thumbnails">
		{% for image in product.images %}
			<li class="two columns{% cycle ' alpha clearcolumn', '', '', ' omega' %}">
				<img src="{{ image | product_img_url: 'master'}}" alt="{{ image.alt | escape }}" />
			</li>
		{% endfor %}
		</ul>


		</div>

		{% endcomment %}



	</div>

<!-- 	<div class="col-md-4 col-sm-4"> -->
	
	<div class="product-information">

	<section class="entry-content">

			<h1 class="custom-font product-description-header">{{ product.title }}</h1>
			<div class="price-field-es">
				<h3 class="custom-font" id="price-field">{{ product.price | money }}</h3>
			</div>

			{% if product.available %}
	<form action="/cart/add" method="post" enctype="multipart/form-data">
	{% if product.variants.size > 0  %}
	{% comment %}
	CHANGE THE ABOVE product.variants to show the size when only 1 size is available
	{% endcomment %}
	<div id="product-variants">
		<select id="product-select" name='id' class="form-control">
			{% comment %}<option value="" disabled selected>SELECT</option>{% endcomment %}
			{% for variant in product.variants %}
			<option {%comment%} {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}{% endcomment %} value="{{ variant.id }}">{{ variant.title }} {%comment%}- {{ variant.price | money }}{%endcomment%}</option>
			{% comment %}
			THE BELOW LINE MAKES THE ACTUAL SIZE SHOW AS THE ONLY OPTION - COMMENT OUT ABOVE LINE AND ENABLE THE BELOW LINE TO MAKE THIS CHANGE - ethansteiner.com
			<option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">SIZE: {{ variant.title }}</option>
			{% endcomment %}
			{% endfor %}
		</select>
		{% comment %}

		<div class="selector-wrapper">
		<label for="quantity">{{ 'products.product.quantity' | t }}</label>
			<select id="quantity" name="quantity">
			{% for i in (1..10) %}
			<option value="{{ i }}">{{ i }}</option>
			{% endfor %}
			</select>
		</div>

		{% endcomment %}
	</div>
		{% if product.compare_at_price_max > product.price %}
			<h5 class="custom-font compare-at-price">{{ product.compare_at_price_max | money }}</h5>
		{% endif %}
	{% else %}
		<div style="visibility: hidden; width: 10px; height: 1px;">
			<select id="product-select" name='id' class="form-control">
			{% for variant in product.variants %}
			<option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
			{% endfor %}
			</select>
		</div>
		{% if product.compare_at_price_max > product.price_min %}
		<h5 class="custom-font compare-at-price">{{ product.compare_at_price_max | money }}</h5>
		{% endif %}
		<h3 class="custom-font product-description-header"></h3>
	{% endif %}
	<!-- id="purchase" -->
	<input type="submit" name="add" value="{{ 'products.product.add_to_cart' | t }}" id="purchase" class="btn btn-success" />
	</form>
{% else %}
<div class="product-out-of-stock">{{ 'products.product.sorry_stock' | t }}</div>
{% endif %}


						<div class="product-description-wrapper tk-acumin-pro">
							{{ product.description }}
						</div>

		{% comment %}
		{% if settings.share_prod_on_twitter or  settings.share_prod_on_facebook or  settings.share_prod_on_pinterest  or  settings.share_prod_on_googleplus %}

		<div class="row">

		<div id="sharing">


			{% if settings.share_prod_on_twitter %}
			<a class="glyph twitter" href="http://twitter.com/home?status=Check%20out%20this%20product: {{ shop.url }}{{ product.url }}">
				<span class="fa-stack fa-lg">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
				</span>
			</a>
			{% endif %}

			{% if settings.share_prod_on_facebook %}
				<a class="glyph facebook" href="http://www.facebook.com/sharer.php?u={{ shop.url }}{{ product.url }}&t={{ product.title }}">
					<span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
					</span>
				</a>
			{% endif %}

			{% if settings.share_prod_on_googleplus %}
				<a class="glyph googleplus" href="https://plus.google.com/share?url={{ shop.url }}{{ product.url }}" onclick="javascript:window.open(this.href,  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
					<span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
					</span>
				</a>
			{% endif %}

			{% if settings.share_prod_on_pinterest %}
				<a href="//pinterest.com/pin/create/button/?url={{ shop.url }}{{ product.url }}&media=http:{{ product.featured_image | product_img_url: '1024x1024' | split: '?' | first }}&description={{ product.title | strip_html | escape | replace: ' ', '%20' }}{% for t in product.tags %}{% assign tag = t | handle %}{{ '%20%23' | append: tag }}{% endfor %}" data-pin-do="buttonPin" data-pin-config="none">
					<span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-pinterest fa-stack-1x fa-inverse"></i>
					</span>
				</a>
			{% endif %}

		</div>

		</div>

		{% endif %} {% endcomment %}
	</section>

	<div class="oi_product-popups">
		<button id="oi_details-sizing">Details / Sizing</button>
		<button id="oi_shipping-returns">Shipping / Returns</button>
	</div>

	<img id="oi_image-flat" src="{{ product.images[1] | img_url: 'master' }}" alt="">

	</div>
	<div class="clear"></div>
</div>


{% if template contains 'product' %}


{% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
{% assign found_a_collection = false %}
{% for c in product.collections %}
  {% if found_a_collection == false and c.handle != 'frontpage' and c.handle != 'all' and c.all_products_count > 1 %}
    {% assign found_a_collection = true %}
    {% assign collection = c %}
  {% endif %}
{% endfor %}
{% endif %}

{% if collection and collection.products_count > 1 %}

<!-- <div class="remove-margins row">

	<div class="col-md-12"> -->

	<div class="title-bar custom-font">
		<h2>Related Products</h2><!-- testing -->
	</div>

<!-- 	</div>

</div>

<div class="remove-margins row"> -->

	<ul class="product-grid clearfix">
  {% assign current_product = product %}
  {% assign current_product_found = false %}
  {% for product in collection.products limit: 5 %}
    {% if product.handle == current_product.handle %}
       {% assign current_product_found = true %}
    {% else %}
       {% unless current_product_found == false and forloop.last %}
			<li class="col-md-3{% cycle ' alpha', '', ' mobile', ' omega' %} col-sm-6">
				{% include 'product-listing' %}
			</li>
       {% endunless %}
    {% endif %}
  {% endfor %}
  </ul>
{% endif %}

<!-- </div> -->

{% endif %}

</article>

<div class="oi_popup-module" id="oi_sizing-popup">
	<div class="oi_popup-inner-wrap">
		<div class="oi_popup-image-wrap">
			<div class="oi_relative-wrap">
				<button>{{ 'x.svg' | asset_url | img_tag }}</button>
				<img id="oi_popup-image" src="{{ product.images.last  | img_url: 'master' }}" alt="">
			</div>
		</div>
	</div>
</div>

<div class="oi_popup-module" id="oi_legal-popup">
	<div class="oi_popup-inner-wrap">
		<div id="oi_popup-text" class="oi_popup-text-wrapper">
			<div class="oi_relative-wrap">
				<div class="oi_terms-intro">
					<button>{{ 'x.svg' | asset_url | img_tag }}</button>
					<strong>Order Process</strong>
					<p>Please allow 2-3 business days for your order to process.</p>
					<p>Some styles are made to order. Please allow 1-2 weeks before we ship out your order. </p>
				</div>
				<div class="oi_columns">
				<strong>MADE TO ORDER</strong>
				<p>For made to order styles please expect estimated shipping to be within 1 - 2 weeks after purchase unless otherwise stated. *Only for items that clarify 'made to order'. All other items will be shipped within 2-3 days of purchase date.</p>

				<strong>GENERAL U.S. SHIPPING</strong>
				<p>Orseund Iris ships from Brooklyn, NY. Orders will be processed within 2-3 business days upon purchase date (EST). Orseund Iris does not process or ship orders on Saturdays, Sundays and Holidays. Orders will be shipped via UPS Standard Ground shipping unless notified otherwise. Signature upon delivery required with purchases over $500 US Dollars. Signature upon delivery is optional for items below $500. If you would like this option please add a note for the seller via checkout. Orseund Iris is not responsible for lost and/or stolen packages. Any items that are not signed for with direct signature will be shipped back to Orseund Iris. All fees to ship package back to customer will be covered by the customer. Once your item has been shipped you will receive a confirmation email with tracking info. Allow 1 day for tracking info to update. Expedited shipping is available at additional cost. Please inquire via <a href="mailto:info@orseundiris.com">info@orseundiris.com</a>.</p>

				<p>We are unable to ship to P.O. boxes at this time. If you entered a P.O. box as your delivery address, we will reach out to you via e-mail to get an alternative address which may delay your delivery.</p>
				
				<strong>SHIPPING METHODS AND COSTS</strong>
				<p>To estimate shipping and tax fees select state and zip code upon checkout. Orseund Iris is not responsible for delays in shipping or delivery due to force of nature or other uncontrollable events.</p>

				<strong>INTERNATIONAL SHIPPING</strong>
				<p>International orders are orders shipped to countries other than the U.S. International orders will be shipped via DHL Express shipping unless notified otherwise. DHL typically takes 3 business days to ship. International shipping costs vary with shipping location. Orders that are designated for shipment to countries outside of the U.S. may be subject to local taxes, customs, duties, and fees levied by the destination country ["Import Fees"]. The recipient of the shipment is the importer of record in the destination country and is responsible for all Import Fees. If you refuse a shipment from Orseund Iris, you are responsible for the original purchase and shipping charges, any Import Fees that are incurred on the package, and the cost of returning the package to Orseund Iris.</p>

				<strong>INTERNATIONAL RETURNS</strong>
				<p>We do not provide shipping labels for international returns or exchanges. International customers interested in a return for a refund or exchange must cover return shipping costs. For more information on making an international return please email <a href="mailto:info@orseundiris.com">info@orseundiris.com</a>.</p>

				<strong>RETURN POLICY</strong>
				<p>Orseund Iris accepts unwashed, unworn and undamaged merchandise, with tags attached, for a full refund within 20 days from delivery date. Returns must be returned with any additional gifts included with your purchase for a full refund. If unreturned we will charge you for these items and they will be deducted from your refund. 

				When returning an item, we will provide the return label, however, the original shipping cost will not be refunded. We have the right to deny credits if the merchandise returned does not meet our return policy requirements. We only allow exchanges on a different size of the same item.</p>

				<strong>HOW TO RETURN AN ITEM</strong>
				<p>1. Email <a href="mailto:info@orseundiris.com">info@orseundiris.com</a> with subject "Returning Item" with garment name and Orseund Iris order #.</p>

				<p>2. Please note the nature of the return or exchange in the e-mail - wrong size, just don’t fancy it, etc.</p>

				<p>3. Pack and securely seal the merchandise in the original package if possible, including all items shipped with the order.</p>

				<p>4. Once the return is received to the Orseund Iris studio, returns will be credited to the original form of payment on file. Please allow for up to 5-7 days to receive credit for returned items.</p>

				<strong>EXCHANGES </strong>
				<p>Once the exchange item is received to the Orseund Iris studio, we will send out your exchange request as soon as possible while notifying you with new tracking. Orseund Iris covers exchange shipping free of charge.</p>
					<a href="mailto:info@orseundiris.com" class="oi_here-for-you">{{ 'here-for-you.svg' | asset_url | img_tag }}</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="oi_product-flat-popup">
	<div class="oi_inner-wrap">
		<button>{{ 'x.svg' | asset_url | img_tag }}</button>
		<img id="oi_product-flat-large" src="" alt="">
	</div>
</div>

