<a id="oi_fixed-insta-logo" href="https://www.instagram.com/orseund_iris/" target="_blank">@orseund_iris</a>

<article id="{{product.handle}}" class="product"><!-- used to have container class -->

	{% include 'breadcrumb' %}

	<div class="product-content">
		<div class="product-images">
			{% if product.compare_at_price_max > product.price %}
				<div class="sale-badge">{{ 'products.general.sale' | t }}</div>
			{% endif %}

			<div id="product_images">
				{% if product.images.size > 1 %}
					<ul id="product-thumbnails">
					{% for image in product.images %}
						<li>
							<a href="#{{ image.id }}" title="{{ image.alt | escape }}" class="image-swap">
								<img src="{{ image | product_img_url: 'master'}}" alt="{{ image.alt | escape }}" />
							</a>
						</li>
					{% endfor %}
					</ul>
				{% endif %}
				
				<div class="featured-image-div">
				{% for image in product.images %}	
					<img class="oi_main-image last" id="{{ image.id }}" src="{{ image | product_img_url: 'master'}}" alt="{{ image.alt | escape }}" />	
				{% endfor %}
				</div>

				<div class="clear"></div>
			</div>
		</div>	
		<div class="product-information">

			<section class="entry-content">
				<h1 class="custom-font product-description-header">{{ product.title }}</h1>
				<div class="price-field-es">
					<h3 class="custom-font" id="price-field">{{ product.price | money }}</h3>
				</div>

				{% if product.available %}
					<form action="/cart/add" method="post" enctype="multipart/form-data">
						{% if product.variants.size > 0  %}
						{% comment %}
						CHANGE THE ABOVE product.variants to show the size when only 1 size is available
						{% endcomment %}
						<div id="product-variants">
							<select id="product-select" name='id' class="form-control">
								{% comment %}<option value="" disabled selected>SELECT</option>{% endcomment %}
								{% for variant in product.variants %}
								<option {% if variant.available == false %}disabled {% endif %} data-variant-title="{{ variant.title }}"{%comment%} {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}{% endcomment %} value="{{ variant.id }}">{{ variant.title }}{%comment%}- {{ variant.price | money }}{%endcomment%}</option>
								{% comment %}
								THE BELOW LINE MAKES THE ACTUAL SIZE SHOW AS THE ONLY OPTION - COMMENT OUT ABOVE LINE AND ENABLE THE BELOW LINE TO MAKE THIS CHANGE - ethansteiner.com
								<option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">SIZE: {{ variant.title }}</option>
								{% endcomment %}
								{% endfor %}
							</select>
							{% comment %}

							<div class="selector-wrapper">
							<label for="quantity">{{ 'products.product.quantity' | t }}</label>
								<select id="quantity" name="quantity">
								{% for i in (1..10) %}
								<option value="{{ i }}">{{ i }}</option>
								{% endfor %}
								</select>
							</div>

							{% endcomment %}
						</div>
							{% if product.compare_at_price_max > product.price %}
								<h5 class="custom-font compare-at-price">{{ product.compare_at_price_max | money }}</h5>
							{% endif %}
						{% else %}
							<div style="visibility: hidden; width: 10px; height: 1px;">
								<select id="product-select" name='id' class="form-control">
								{% for variant in product.variants %}
								<option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
								{% endfor %}
								</select>
							</div>
							{% if product.compare_at_price_max > product.price_min %}
							<h5 class="custom-font compare-at-price">{{ product.compare_at_price_max | money }}</h5>
							{% endif %}
							<h3 class="custom-font product-description-header"></h3>
						{% endif %}
						<!-- id="purchase" -->
						<input type="submit" name="add" value="{{ 'products.product.add_to_cart' | t }}" id="purchase" class="btn btn-success" />
					</form>
				{% else %}
					<div class="product-out-of-stock">{{ 'products.product.sorry_stock' | t }}</div>
				{% endif %}

				<div class="product-description-wrapper tk-acumin-pro">
					{{ product.description }}
				</div>
			</section>

			<div class="oi_product-popups">
				<button id="oi_details-sizing">Details / Sizing</button>
				<button id="oi_shipping-returns">Shipping / Returns</button>
			</div>

			<img id="oi_image-flat" src="{{ product.images[1] | img_url: 'master' }}" alt="">
		</div>
		<div class="clear"></div>
	</div>


{% if template contains 'product' %}


{% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
{% assign found_a_collection = false %}
{% for c in product.collections %}
  {% if found_a_collection == false and c.handle != 'frontpage' and c.handle != 'all' and c.all_products_count > 1 %}
    {% assign found_a_collection = true %}
    {% assign collection = c %}
  {% endif %}
{% endfor %}
{% endif %}

{% if collection and collection.products_count > 1 %}

	<div class="title-bar custom-font">
		<h2>Related Products</h2>
	</div>

	<ul id="related-products" class="product-grid clearfix">
  {% assign current_product = product %}
  {% assign current_product_found = false %}
  {% for product in collection.products limit: 5 %}
    {% if product.handle == current_product.handle %}
       {% assign current_product_found = true %}
    {% else %}
       {% unless current_product_found == false and forloop.last %}
			<li class="{% cycle ' alpha', '', ' mobile', ' omega' %}">
				{% include 'product-listing' %}
			</li>
       {% endunless %}
    {% endif %}
  {% endfor %}
  </ul>
{% endif %}

<!-- </div> -->

{% endif %}

</article>

<div class="oi_popup-module" id="oi_sizing-popup">
	<div class="oi_popup-inner-wrap">
		<div class="oi_popup-image-wrap">
			<div class="oi_relative-wrap">
				<button>{{ 'x.svg' | asset_url | img_tag }}</button>
				<img id="oi_popup-image" src="{{ product.images.last  | img_url: 'master' }}" alt="">
			</div>
		</div>
	</div>
</div>

<div class="oi_popup-module" id="oi_legal-popup">
	<div class="oi_popup-inner-wrap">
		<div id="oi_popup-text" class="oi_popup-text-wrapper">
			<div class="oi_relative-wrap">
				<div class="oi_terms-intro">
					<button>{{ 'x.svg' | asset_url | img_tag }}</button>
					<strong>Order Process</strong>
					<p>Please allow 2-3 business days for your order to process.</p>
				</div>
				<div class="oi_columns">
                <strong>PRE ORDER</strong>
				<p>For items listed as pre order, please expect delivery within the delivery date window stated on the product description. For more information on your pre order, please inquire at <a href="mailto:info@orseundiris.com">info@orseundiris.com</a>. or text us at +1 (646) 919-1516.</p>
				
				<strong>NEW YORK CITY STUDIO PICKUP</strong>
				<p>Orders placed on our online store are available for customer pickup from our NYC Brooklyn Studio. Please use discount code 'NYC_PICKUP' at checkout to waive shipping charges. Customer pickup is available Monday - Friday from 11am-5pm. Customer pickup is not available on Saturdays and Sundays. You will receive a confirmation email when your order is ready for pickup.</p>

				<strong>USA SHIPPING</strong>
				<p>Orders will be processed within 2-3 business days upon purchase date. Orders placed are processed Monday-Friday only (excluding major holidays). Delivery times are provided as a guideline only, and do not take into account possible delays caused by payment authorization and/or stock availability. Orders will be shipped via UPS Ground or FedEx Ground. Expedited shipping is an option at checkout for both UPS and FedEx. </p>

				<strong>P.O. BOXES</strong>
				<p>Please note that UPS and FedEx is unable to deliver to P.O. Boxes or APO/FPO addresses. If you entered a P.O. box as your delivery address, we will reach out to you via e-mail to get an alternative address which may delay your delivery.</p>

				<strong>USA SHIPPING METHODS AND COSTS </strong>
				<p>Domestic US orders will be shipped via UPS Ground or FedEx Ground. Expedited shipping is available at checkout. Please note that expedited shipping is not processed on Saturdays or Sundays. If you requested expedited shipping on a Saturday or Sunday, this will ship on the soonest business day.  </p>
				
                <p>To estimate shipping and tax fees select state and zip code upon checkout. Orseund Iris is not responsible for delays in shipping or delivery due to force of nature or other uncontrollable events.</p>

                <strong>INTERNATIONAL SHIPPING (EXCEPT RUSSIA)</strong>
				<p>International orders are orders shipped to countries other than the U.S. International orders will be shipped via DHL Express shipping unless notified otherwise. DHL typically takes 3 business days to arrive. International shipping costs vary with shipping location.</p>

                <strong>SHIPPING TO RUSSIA</strong>
                <p>Shipments to Russia will be shipped via UPS Ground Worldwide shipping unless notified otherwise. UPS Ground Worldwide typically takes 3-5 business days to arrive. International shipping costs vary with shipping location.</p>
                  
                <strong>TAXES AND DUTIES</strong>
                <p>Orders that are designated for shipment to countries outside of the U.S. may be subject to local taxes, customs, duties, and fees levied by the destination country ["Import Fees"]. The recipient of the shipment is the importer of record in the destination country and is responsible for all Import Fees. If you refuse a shipment from Orseund Iris, you are responsible for the original purchase and shipping charges, any Import Fees that are incurred on the package, and the cost of returning the package to Orseund Iris.</p>  
                  
                <strong>INTERNATIONAL SHIPPING METHODS AND COSTS</strong>  
                <p>International orders will be shipped via DHL Express. We do not offer any quicker expedited shipping for international orders other than DHL Express. DHL Express ships within 1-2 business days within Europe and within 3-4 business days in Asia. To estimate shipping and tax fees select state and zip code upon checkout. Orseund Iris is not responsible for delays in shipping or delivery due to force of nature or other uncontrollable events.</p>  
                    
                <strong>SIGNATURED REQUIRED</strong>
                <p>Signature upon delivery is required on all purchases. If you'd like your package to be released without a signature required, please email Orseund Iris at info@orseundiris.com or text us at +1 (646) 919-1516 to release your parcel without a signature after placing your order. </p>
                
                <p>Orseund Iris is not responsible for lost and/or stolen packages. Any items that are not signed for with direct signature will be shipped back to Orseund Iris. All fees to ship the package back to customer will be covered by the customer. Once your item has been shipped you will receive a confirmation email with tracking info. Allow 1 day for tracking info to update.</p>

                <strong>EXPEDITED SHIPPING</strong>
                <p>We offer expedited shipping at checkout on domestic orders placed within the USA. Please note that expedited shipping is not processed on Saturdays or Sundays. If you requested expedited shipping on a Saturday or Sunday, this will ship on the soonest business day. We do not offer expedited shipping on international orders outside of the USA.</p>  
                  
				<strong>RETURN POLICY</strong>
				<p>Orseund Iris accepts unwashed, unworn and undamaged merchandise, with tags attached, for a full refund within 20 days from delivery date. Returns must be returned with any additional gifts included with your purchase for a full refund. If unreturned we will charge you for these items and they will be deducted from your refund. 

				When returning an item, we will provide the return label, however, the original shipping cost will not be refunded. We have the right to deny credits if the merchandise returned does not meet our return policy requirements. We only allow exchanges on a different size of the same item.</p>

				<strong>HOW TO RETURN AN ITEM</strong>
				<p>1. <a href="https://orseundiris.com/a/returns" _blank="">Click here for our Return Portal</a> to start your return.<br /></p>

				<p>2. Enter your order number and email address associated with the order.</p>

				<p>3. Select the item(s) you wish to return.</p>

				<p>4. Choose the correct reason for your return.</p>
                
                <p>5. Select the credit method you prefer (return or exchange).</p>
                  
                <p> 6. Once approved, you will be contacted via email with a pre-paid shipping label and next steps.</p>
                  
                <p>7. We will process your return once it is received and evaluated at our warehouse.</p>

				<strong>EXCHANGES </strong>
				<p>Once the exchange item is received to the Orseund Iris studio, we will send out your exchange request as soon as possible while notifying you with new tracking. Orseund Iris covers exchange shipping free of charge.</p>
					<a href="mailto:info@orseundiris.com" class="oi_here-for-you">{{ 'here-for-you.svg' | asset_url | img_tag }}</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="oi_product-flat-popup">
	<div class="oi_inner-wrap">
		<button>{{ 'x.svg' | asset_url | img_tag }}</button>
		<img id="oi_product-flat-large" src="" alt="">
	</div>
</div>
